/*
Outline
--------------------------------------- */

.lens-outline {
  background: #fff;
  position: absolute;
  left: 0px;
  width:50px;
  top: 0px;
  bottom: 0px;
}

.lens-outline .node.cover {
  /*background: #5c6570;*/
  /*opacity: 1;*/
}

.lens-outline .node .arrow {
  display: none;
  position: absolute;
  top: -7px;
  left: -17px;
  
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
}

.lens-outline .node.selected .arrow {
  display: block;
}

.lens-outline .visible-area {
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 80px;
  z-index: 2000;
  background-color: rgba(0,0,0, 0.2);
}

.lens-outline:hover .visible-area {
  background-color: rgba(0,0,0, 0.25); 
}

.lens-outline .visible-area:hover {
  background-color: rgba(0,0,0, 0.3); 
}

.lens-outline .node {
  margin: 0 5px;
  width: 40px;
  background: rgba(0,0,0, 0.4);
  opacity: 0.15;
  cursor: pointer;
}

.lens-outline .node:hover {
  /*opacity: 0.4;*/
}

/*.lens-outline .node.highlighted:hover {
  opacity: 1.0;
}*/

.lens-outline .text {
}

.lens-outline .heading {
  background: rgba(0,0,0, 0.5);
}


.lens-outline .node.selected {
  opacity: 1.0;
}

.node.highlighted {
  background: #5c6570;
  opacity: 0.7;
}

/* Greenish highlighted nodes (figures) */

.lens-outline.figures .node.highlighted {
  opacity: 0.7;
  background: rgba(145, 187, 4, 1);
}

/* Blueish highlighted nodes (citations) */

.lens-outline.citations .node.highlighted {
  opacity: 0.7;
  background: rgba(11, 157, 217, 1);
}

.lens-outline.figures .node.selected {
  opacity: 1;
  background: rgba(145, 187, 4, 1);
}

/* Blueish highlighted nodes (citations) */

.lens-outline.citations .node.selected {
  opacity: 1;
  background: rgba(11, 157, 217, 1);
}


